.S-services {
  gap: var(--s_row);

  .gi:first-child {
    z-index: 10 // so encircle covers everything
  }

  @media (max-width: $grid_mode_2_max) {
    .gi.typeset {
      order: -1;
      background: var(--color-body);
    }
  }

  @media (min-width: $grid_mode_2) {
    .gi.typeset {
      padding: 0;
    }
  }

  @media (min-width: $bp-xxs) and (max-width: $grid_mode_2_max),
  (min-width: $bp-large) {
    ul.services {
      margin-left: var(--s_col);
    }
  }
}

.S-testimonials {
  background: var(--color-base);
  color: var(--color-body);

  .quote {
    opacity: .7
  }
}

.S-about {
  .thumb-grid {
    margin-bottom: max(2rem, calc(var(--gap) / 2));
  }
}

.S-logos {
  .thumb-grid {
    @media (max-width: $bp_xxs_max) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: $grid_mode_2) {

  .S-logos {
    --ss-bg_size: calc(var(--vh, 1vh) * 66.667);

    .gi:not(.ss-bg) {
      grid-column: -1/-2;
    }
  }

  .S-services {
    grid-template-rows: 1fr;
    gap: 0 var(--s_row);
    min-height: min-content;

    .ss-bg::after {
      width: 50vw;
    }

    .gi:not(.ss-bg) {
      align-self: center;
    }
  }
}