
.gg-none {
  grid-gap: 0;
}

.gg-sm {
  grid-gap: 1rem;
}

.g-1-1 {
  grid-template-columns: 1fr 1fr;
}

.g-1-1-1 {
  grid-template-columns: 1fr 1fr 1fr;
}

.g-sm-1 {
  @media (max-width: $grid_mode_max) {
    grid-template-columns: 1fr;
    grid-gap: var(--s_row);
  }
}

.g-med-1 {
  @media (max-width: $grid_mode_2_max) {
    grid-template-columns: 1fr;
    grid-gap: var(--s_row);
  }
}

.g-lg-1 {
  @media (max-width: $bp_med_max) {
    grid-template-columns: 1fr;
    grid-gap: var(--s_row);
  }
}

.g img {
  display: block;
}

.gi {
  &.has-bg {
    padding: var(--gutter);
    background: var(--color-body);

     @media (min-width: $grid_mode_2) {
      padding: calc(var(--s_col) / 2);
    }
  }
}

.thumb-grid {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}



