//Passages of text

.typeset {
  font-size: var(--ms-size_2);

  > *:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    margin-bottom: $s_lh;
  }

  ul li::before {
    content: '';
    width: .5em;
    height: .5em;
    background: var(--color-primary); 
    display: inline-block;
    margin-right: .5em;
    transform: translateY(-.1em);
  }
}

