/* ------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------ */

/* Flexible Media */
img,
video,
object,
iframe,
embed {
  height: auto;
  line-height: 1;
  max-width: 100%;
}