.has-ss-bg {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  //flex-direction: column;
  //justify-content: center;
  gap: 0;
  min-height: 100vh;
  height: auto;
  min-height: var(--ss-bg_size);
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden; // fallback so bg doesn't overflow
  overflow: clip;

  .gi {
    flex: 0 0 100%;
  }

  .gi:not(.ss-bg) {
    position: relative;
    z-index: 999;
  }

}

.ss-bg {
  z-index: 0;
  height: 0;
  position: sticky;
  bottom: 0;
  margin-left: calc(var(--gutter) * -1);

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-height: var(--ss-bg_size);
    width: 100vw;
    background-position: 50% 50%;
    background-size: cover;
  }

  @supports not (overflow: clip) {
    position: static;

    &::after {
      height: 100%;
    }
  }
}