
// Colors
// =================================================

:root {
  //--color-body: #F5F2EB;e8e6e1
  --color-body: #e8e6e1;
  --color-base: #2B2928;
  --color-base-alt: #afada9;
  --color-primary: #5F9ABF;
  --color-secondary: #AFCBE2;
  --color-tertiary: #152936;
  --color-link: var(--color-primary);
  --btn-bg: var(--color-tertiary);
  --btn-color: var(--color-body);
  --btn-bg-alt: var(--color-primary);
  --btn-color-alt: var(--color-base);

}
