<!DOCTYPE html>
<html lang="en">

  <head>
      <script>
      document.documentElement.classList.add("js");
      </script>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>{{ seoTitle }}</title>
      <meta name="description" content="{{ description }}">
      <!--<link rel="stylesheet" href="{{ '/css/main.css' | url }}" />-->
      <link rel="preload" href="../fonts/jost-v13-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
      <link rel="preload" href="../fonts/jost-v13-latin-700.woff2" as="font" type="font/woff2" crossorigin>
      <link rel="preload" href="../fonts/majesti-banner-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
      <meta property="og:url" content="{{ site.url }}">
      <meta property="og:title" content="{{ seoTitle }}">
      <meta property="og:description" content="{{ description }}">
      <meta property="og:site_name" content="G-Floors">
      <!-- keep bgs separate so we can use nunjucks in css file - won't work in scss -->
      {% set css %}
         {% include "../../../public/css/main.css" | url %}
      {% endset %}
      {% set bgcss %}
         {% include "../../styles/trumps/_trumps.backgrounds.css" | url %}
      {% endset %}
      <style>{{ bgcss | safe }}{{ css | safe }}</style>
  </head>

<body>

  <div class="Site f f-d-c">